
.employees {

}

.employees label {
  padding: 5px;
  font-size: small;
}

.employees button {
  border: none;
  margin: 10px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.employees td {

  margin: 5px;
  font-size: small;

}

.employees .badge {
  display: inline-block;
  font-size: small;
  color: white;
  background-color: #607D8B;
  font-size: small;
}
